:root {
    --background-color: #FCFCFC;
    --primary-color: #46237A;
    --secondary-color: #DC239B;
    --color-blue: #306BAC;
    --color-black: #141B41;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
}

.navbar {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 4;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.navbar a {
    color: var(--background-color);
    text-decoration: none;
}